VITE_SUPABASE_URL=301527|lWQBwLsYA78ma9JKhD8z3VpRI8ZSJ9V77Yx5ocga34a366c3
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YioVhG12VCyIEx_JWf1o8g_U_fensmq
VITE_FLEETRUNNR_API_KEY=https://ieqguonoaidbgwgzdeex.supabase.co
